# Task 
### Calcule a quantidade de avaliações por marca
### Calcule a media das avalições do produto a vista( 10% do valor Original)
### Transforme as palavas das colunas Style para português
### conte quantos pratos (variedades) possuem Noodles

In [1]:
import pandas as pd 
dados_do_lamen = pd.read_csv("ramen-ratings.csv")
dados_do_lamen.head(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,NaN
7,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,NaN
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN
9,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,Singapore,2.5,NaN

In [2]:
dados_do_lamen.columns = ['reveja','marca','variedade','estilo','pais','notas','top_10']
dados_do_lamen

,reveja,marca,variedade,estilo,pais,notas,top_10
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [3]:
#Calcule a media das avalições do produto a vista(10% do valor Original)
dados_do_lamen['notas'] = pd.to_numeric(dados_do_lamen['notas'],errors = 'coerce')
test1= dados_do_lamen.groupby('marca').agg({'notas':'mean'}).head(50)
data_teste1 = pd.DataFrame(test1).reset_index()
data_teste1['notas'] = data_teste1['notas'] * 1.1
data_teste1

                  marca     notas
0        1 To 3 Noodles  4.400000
1              7 Select  4.125000
2       7 Select/Nissin  3.850000
3                 A-One  3.025000
4      A-Sha Dry Noodle  4.474038
5                    A1  3.391667
6                   ABC  4.629167
7               Acecook  3.597000
8                 Adabi  4.193750
9                Ah Lai  5.225000
10            Ajinatori  3.575000
11              Amianda  4.345000
12                Amino  3.850000
13         Annie Chun's  3.827083
14                 Aroi  4.950000
15            Asia Gold  3.781250
16     Asian Thai Foods  3.908929
17  Authentically Asian  1.100000
18                Azami  2.145000
19               Baijia  1.375000
20     Baixiang Noodles  4.070000
21               Baltix  3.850000
22                Bamee  3.630000
23           Batchelors  3.214063
24             Binh Tay  3.758333
25          Bon Go Jang  3.712500
26              Bonasia  3.850000
27                 Boss  2.750000
28       CJ CheilJedang  3.162500
29           Campbell's  1.100000
30      Cap Atoom Bulan  3.300000
31               CarJEN  5.421429
32  Chaudhary's Wai Wai  2.750000
33              Chencun  3.740000
34        Chering Chang  4.785000
35                Chewy  2.887500
36              Chikara  4.950000
37           China Best  1.100000
38       Ching's Secret  4.193750
39          Chorip Dong  4.675000
40           ChoripDong  5.500000
41             Choumama  4.400000
42       Chuan Wei Wang  3.850000
43               Cintan  3.630000
44              Conimex  2.310000
45       Crystal Noodle  0.275000
46         Curry Prince  4.400000
47                Daddy  5.500000
48              Daifuku  5.500000
49              Daikoku  4.262500

In [4]:
#Transforme as palavas das colunas Style para português
#cup = copo , pack = pacote ,tray = bandeja ,bowl = tigela ,box = caixa ,can = lata,bar =barra

dados_do_lamen = dados_do_lamen.replace(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar'],
                                        ['Copo','Pacote','Bandeja','Tigela','Caixa','Lata','Barra'])
dados_do_lamen

,reveja,marca,variedade,estilo,pais,notas,top_10
0,2580,New Touch,T's Restaurant Tantanmen,Copo,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pacote,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Copo,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pacote,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pacote,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Tigela,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pacote,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pacote,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pacote,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pacote,USA,0.50,NaN

In [16]:
#conte quantos pratos (variedades) possuem Noodles
'''
eu não usei o pandas pois pela formula ele gera um Df, e eu queria uma series.
chicago_stations = dados_lamen.df[ dados_lamen.df['variedade'].str.contains('Noodles') ]
chicago_stations.head()
'''
lista_de_Noodles = []
for i in dados_do_lamen.variedade:
    if 'Noodles' in i:
        lista_de_Noodles.append(i)
series_Noodles=pd.Series(lista_de_Noodles)
df_noodles = pd.DataFrame(series_Noodles)
df_noodles

                                                     0
0    Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
1                        Cup Noodles Chicken Vegetable
2                The Original Spicy Stir-Fried Noodles
3                     Mushroom Flavour Instant Noodles
4                                 Mario Masala Noodles
..                                                 ...
656          Jaopai Series: Vegetarian Instant Noodles
657              Soba Noodles With Mayo Mustard Squirt
658                          Champong Oriental Noodles
659  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...
660                     Oriental Style Instant Noodles

[661 rows x 1 columns]

In [6]:
#Calcule a quantidade de avaliações por marca
dados_quantidade_marcas = dados_do_lamen.marca.value_counts().to_frame().reset_index().head(10)
dados_quantidade_marcas.rename(columns={'index' : 'marca_unique','marca':'total_marca'},inplace = True)
dados_quantidade_marcas

    marca_unique  total_marca
0         Nissin          381
1       Nongshim           98
2       Maruchan           76
3           Mama           71
4          Paldo           66
5          Myojo           63
6        Indomie           53
7  Samyang Foods           52
8         Ottogi           46
9      Lucky Me!           34

In [18]:
dados_do_lamen.rename(columns={'notas':'notas_puras'},inplace = True)
dados_do_lamen

,reveja,marca,variedade,estilo,pais,notas_puras,top_10
0,2580,New Touch,T's Restaurant Tantanmen,Copo,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pacote,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Copo,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pacote,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pacote,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Tigela,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pacote,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pacote,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pacote,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pacote,USA,0.50,NaN

In [20]:
df4 = pd.concat([dados_quantidade_marcas,data_teste1,dados_do_lamen,df_noodles],axis = 1)
# ele coloca um em lado do outro  
df4.rename(columns={0:'marcas_noodles','notas':'medias_notas'},inplace = True)
df4.drop(['top_10'], axis=1,inplace=True)
df4.head(10)

,marca_unique,total_marca,marca,medias_notas,reveja,marca,variedade,estilo,pais,notas_puras,marcas_noodles
0,Nissin,381.0,1 To 3 Noodles,4.400000,2580,New Touch,T's Restaurant Tantanmen,Copo,Japan,3.75,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
1,Nongshim,98.0,7 Select,4.125000,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pacote,Taiwan,1.00,Cup Noodles Chicken Vegetable
2,Maruchan,76.0,7 Select/Nissin,3.850000,2578,Nissin,Cup Noodles Chicken Vegetable,Copo,USA,2.25,The Original Spicy Stir-Fried Noodles
3,Mama,71.0,A-One,3.025000,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pacote,Taiwan,2.75,Mushroom Flavour Instant Noodles
4,Paldo,66.0,A-Sha Dry Noodle,4.474038,2576,Ching's Secret,Singapore Curry,Pacote,India,3.75,Mario Masala Noodles
5,Myojo,63.0,A1,3.391667,2575,Samyang Foods,Kimchi song Song Ramen,Pacote,South Korea,4.75,Cup Noodles Laksa Flavour
6,Indomie,53.0,ABC,4.629167,2574,Acecook,Spice Deli Tantan Men With Cilantro,Copo,Japan,4.00,Creamy Soup With Crushed Noodles Hot & Sour Fi...
7,Samyang Foods,52.0,Acecook,3.597000,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Bandeja,Japan,3.75,Hot Garlic Instant Noodles
8,Ottogi,46.0,Adabi,4.193750,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pacote,Japan,0.25,Instant Noodles Beef In Light Soup Flavour
9,Lucky Me!,34.0,Ah Lai,5.225000,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pacote,Singapore,2.50,Signature Tom Yum Flavor Instant Noodles

In [21]:
df4.to_csv('Relatorio_de_entrega_semana2.csv', index=False)